@import "tailwindcss";

/* Tailwind v4 Theme Configuration */
@theme {
  --color-canvas: #FFFFFF;
  --color-surface: #F8FAFC;
  --color-scalejade-600: #059669;
  --color-scalejade-800: #065f46;
  --color-scalejade-900: #064e3b;
  --font-sans: var(--font-geist-sans), Inter, ui-sans-serif, system-ui, sans-serif;

  /* Daftarkan nama animasinya di sini */
  --animate-marquee: marquee 30s linear infinite;
}

/* Letakkan Keyframes di LUAR @theme */
@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    /* Geser tepat 50% agar looping menjadi sempurna tanpa jeda kosong */
    transform: translateX(-50%);
  }
}

/* Core shadcn/ui variables */
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --radius: 0.5rem;
  }
}

/* Force the Elite Light-Mode Canvas */
body {
  background-color: var(--color-canvas);
  color: #0f172a;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar { width: 8px; }
::-webkit-scrollbar-track { background: var(--color-surface); }
::-webkit-scrollbar-thumb { background: #cbd5e1; border-radius: 4px; }
::-webkit-scrollbar-thumb:hover { background: var(--color-scalejade-800); }